header {
    background-color: blue;
    color: black;
    text-align: center;
    font-size: 60pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}